<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .HTMLPagePath }}</title>
  </head>
  <body>
    <h1>{{ .TextFileName }}</h1>
    <p>{{ .Content }}</p>
  </body>
</html>
